<div class="container" xmlns="http://www.w3.org/1999/html">

  <h2>Registration</h2>
  <form>
    <div class="form-group">
      <input id="email" type="text" class="form-control" name="email" placeholder="Email" required
             #email="ngModel"
             [(ngModel)]="model.email">
      <div class="alert" *ngIf="email.invalid && (email.dirty || email.touched)">Email is reguired</div>
    </div>

    <div class="form-group">
      <input id="password" type="password" class="form-control" name="password" placeholder="Password" minlength="6"
             maxlength="10" oninput="check(this)" required
             #password="ngModel"
             [(ngModel)]="model.password">
      <div class="alert" *ngIf="password.invalid && (password.dirty || password.touched)">Password is reguired</div>
    </div>

    <div class="form-group">
      <input id="confirmPassword" type="password" class="form-control" name="confirmPassword"
             placeholder="Confirm Password" oninput="check(this)" required
             #confirmPassword="ngModel"
             [(ngModel)]="model.confirmPassword">
      <div class="alert"
           *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)">
        <div class="registrationFormAlert" id="divCheckPasswordMatch">Confirmation does not match password</div>
      </div>
    </div>

    <div class="form-group"><input type="checkbox" name="checkbox" required>I agree to Terms and Conditions</div>

    <div class="form-group">
      <button class="btn btn-info">Submit</button>
    </div>

  </form>
  <p>{{diagnostic}}</p>

  <p class="txtpass">Изменить пароль:</p><input name='password' id='pass1'  class='edinfopass' type='password'><span id="validpass"></span>
  <p class="txtpass">Повторите пароль:</p><input name='passwordtrue' id='pass2'    class='edinfopass' type='password'>

<!--  <script language='javascript' type='text/javascript'>-->
<!--    function check(input) {-->
<!--      if (document.getElementById('confirmPassword').value !=-->
<!--        document.getElementById('password').value) {-->
<!--        input.setCustomValidity('Password Must be Matching.');-->
<!--      } else {-->
<!--        input.setCustomValidity('');-->
<!--      }-->
<!--    }-->
<!--  </script>-->
</div>
